/* App global styles */
html {
  margin: 0;
  padding: 0;
  background-color: #090a0e !important;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #090a0e !important;
  overflow-x: hidden;
  color: #eae6df;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.portfolio-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #090a0e;
}

